<h2 class="screen-align">Collegecreate</h2>
<div method="get" id="template-i5s5" class="form ">
    <div id="template-iwh9" class="form-group ">
        <label id="template-i78p" class="label ">
            <div id="template-ic1p" class="">Name</div>
        </label>
        <input placeholder="Type here your name" id="template-i7x7" class="input "
        />
    </div>
    <div id="template-i22n" class="form-group ">
        <label id="template-ihs2" class="label ">
            <div id="template-i00b" class="">Email</div>
        </label>
        <input type="email" placeholder="Type here your email" id="template-iqbw"
        [(ngModel)]="college.College_Address" [ngModelOptions]="{standalone: true}"
        class="input " />
    </div>
    <div id="template-is35y" class="form-group ">
        <button type="submit" id="template-iyffh" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-iaj07" class="">Send</div>
        </button>
    </div>
</div>