<h2 class="screen-align">Create</h2>
<div method="get" id="template-it9s" class="form ">
    <div id="template-ifs7" class="form-group ">
        <label id="template-imfa" class="label ">
            <div id="template-i9vb" class="">Name</div>
        </label>
        <input placeholder="Type here your name" id="template-ins2" class="input "
        />
    </div>
    <div id="template-iwhl" class="form-group ">
        <label id="template-in4i" class="label ">
            <div id="template-iq6d" class="">Email</div>
        </label>
        <input type="email" placeholder="Type here your email" id="template-iskf"
        [(ngModel)]="student.Email" [ngModelOptions]="{standalone: true}" class="input "
        />
    </div>
    <div id="template-i16yn" class="form-group ">
        <button type="submit" id="template-iet0n" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-itgfu" class="">Create</div>
        </button>
    </div>
</div>